/* Especificidad (0,0,0)*/

* {
    font-family: "Noto Sans", sans-serif;
    background-color: gainsboro;
}


/* Especificidad (0,0,1)*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


/* Especificidad (0,0,1)*/

p {
    text-align: justify;
    width: 80%;
}


/* Especificidad (0,0,1)*/

img {
    width: 20%;
}


/* Especificidad (0,0,1)*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* Especificidad (0,0,1)*/

li {
    float: left;
}


/* Especificidad (0,0,2)*/

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}


/* Especificidad (0,1,2)*/

li a:hover {
    background-color: rgb(26, 141, 106);
}


/* Especificidad (0,0,1)*/

table,
th,
td {
    empty-cells: hide;
    border: 1px solid black;
    width: 640px;
}


/* Especificidad (0,0,1)*/

table {
    display: inline-block;
}


/* Especificidad (0,0,1)*/

td {
    padding: 10px;
}


/* Especificidad (0,0,1)*/

video {
    width: 600px;
    display: inline-block;
}


/* Especificidad (0,0,1)*/

fieldset {
    width: 300px;
}


/* Especificidad (0,0,1)*/

aside {
    width: 215px;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 140px;
    bottom: 10px;
    z-index: 999;
    padding-right: 60px;
    color: black;
}


/* Especificidad (0,0,2)*/

aside p {
    font-size: larger;
    font-weight: bold;
}


/* Especificidad (0,0,1)*/

audio {
    margin-top: 20px;
    display: block;
}


/* Especificidad (0,0,2)*/

aside a {
    font-size: large;
    display: block;
}