* {
    font-family: "Noto Sans", sans-serif;
    background-color: gainsboro;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

p {
    text-align: justify;
    width: 80%;
}

img {
    width: 20%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

li a:hover {
    background-color: rgb(26, 141, 106);
}

table,
th,
td {
    border: 1px solid black;
    width: 640px;
}

table {
    display: inline-block;
}

td {
    padding: 10px;
}

video {
    width: 600px;
    display: inline-block;
}

fieldset {
    width: 300px;
}

aside {
    width: 215px;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 140px;
    bottom: 10px;
    z-index: 999;
    padding-right: 60px;
    color: black;
}

aside p {
    font-size: larger;
    font-weight: bold;
}

audio {
    margin-top: 20px;
    display: block;
}

aside a {
    font-size: large;
    display: block;
}